@import 'utils';

.tabs{
    margin-top: 10px;
    margin-bottom:0;
    .tablink{
        margin-right:24px;
        font-weight:$bold;
        text-transform: uppercase;
        color:$grey;
        &:last-child {
            margin:0;
        }
    }
    .active, .tablink:hover{
        color:$primary;
        position:relative;
        &::before{
            content:'';
            position:absolute;
            bottom:-2px;
            left:0;
            width:100%;
            height:2px; 
            background:$primary;
            animation: bordermenu $animationtime linear;
        }
    }
}